<div class="page" id="home">
	<div class="speaker-name">
		<a class="speaker_link" href="#douglas_crockford">
		Douglas Crockford
		</a>
	</div>
	<div class="speaker-name">
		<a class="speaker_link" href="#divya_manian">
			Divya Manian
		</a>
	</div>
	<div class="speaker-name">
		<a class="speaker_link" href="#lea_verou">
			Lea Verou
		</a>
	</div>
	<div class="speaker-name">
		<a class="speaker_link" href="#malcolm_sheridan">
			Malcolm Sheridan
		</a>
	</div>
	<div class="speaker-name">
		<a class="speaker_link" href="#vaughan_rowsell">
			Vaughan Rowsell
		</a>
	</div>
	<div class="speaker-name">
		<a class="speaker_link" href="#aaron_morton">
			Aaron Morton
		</a>
	</div>

	<div class="speaker-name">
		<a class="speaker_link" href="#hamish_friedlander">
			Hamish Friedlander
		</a>
	</div>
	<div class="speaker-name">
		<a class="speaker_link" href="#alla_boglaeva">
			Alla Boglaeva
		</a>
	</div>
	
	
</div>
<div class="page" id="speakers">
	<div class="section_title">
		   <%= image_tag "wdcnz_section_icon.png", :title => "WDCNZ" %>
		   Speakers
	</div>
	<div class="speaker" id="douglas_crockford">
		<div class="speaker_image">
			<%=image_tag "bio_pics/douglas_crockford.png", :title=>"Douglas Crockford" %>
		</div>
		<div class="bio">
			<div class="title">
				Douglas Crockford
			</div>
			<div class="social">
				<a href="http://www.crockford.com">
					crockford.com
				</a>
			</div>
			<div class="text">
				Douglas Crockford was born in the wilds of Minnesota, but left when he was only six months old because it was just too damn cold. He turned his back on a promising career in television when he discovered computers. He has worked in learning systems, small business systems, office automation, games, interactive music, multimedia, location-based entertainment, social systems, and programming languages. He is the inventor of Tilton, the ugliest programming language that was not specifically designed to be an ugly programming language. He is best known for having discovered that there are good parts in JavaScript. This was an important and unexpected discovery. He also discovered the JSON Data Interchange Format, the world's best loved data format. And he works at Yahoo!
			</div>
		</div>
	</div>
	<div class="speaker" id="divya_manian">
		<div class="speaker_image">
			<%=image_tag "bio_pics/divya_manian.png", :title=>"Divya Manian, Speaker Photo:© Mohini Patel Glanz" %>
		</div>
		<div class="bio">
			<div class="title">
				Divya Manian
			</div>
			<div class="social">
				<a href="http://twitter.com/divya">
					@divya
				</a>
			</div>
			<div class="text">
				Divya Manian is part of the Adobe Web Platform Team in San Francisco. She made the jump from developing device drivers for Motorola phones to designing websites and has not looked back since. She takes her duties as an Open Web vigilante seriously which has resulted in collaborative projects such as HTML5 Please and HTML5 Boilerplate.
			</div>
		</div>
	</div>
	<div class="speaker" id="lea_verou">
		<div class="speaker_image">
			<%=image_tag "bio_pics/lea_verou.png", :title=>"Lea Verou" %>
		</div>
		<div class="bio">
			<div class="title">
				Lea Verou
			</div>
			<div class="social">
				<a href="http://twitter.com/#!/leaverou">
					@leaverou
				</a>
			</div>
			<div class="text">
				Lea has a long-standing passion for open web standards, and has been often called a “CSS guru”. She loves researching new ways to take advantage of modern web technologies and shares her findings through her blog, <a href="http://lea.verou.me">lea.verou.me</a>. Lea also makes popular&nbsp;<a href="http://lea.verou.me/css3-tools/" target="_blank">tools</a> and <a href="http://lea.verou.me/libraries/" target="_blank">libraries</a> that help web developers learn and use these standards. She <a href="http://lea.verou.me/speaking">speaks</a> at a number of well-known international web development conferences and <a href="http://lea.verou.me/publications" target="_blank">writes</a> for leading industry publications. Lea also co-organized and occasionally lectures the web development course at the Athens University of Economics and Business.
			</div>
		</div>
	</div>
	<div class="speaker" id="malcolm_sheridan">
		<div class="speaker_image">
			<%=image_tag "bio_pics/malcolm_sheridan.png", :title=>"Malcolm Sheridan" %>
		</div>
		<div class="bio">
			<div class="title">
				Malcolm Sheridan
			</div>
			<div class="social">
				<a href="http://twitter.com/#!/malcolmsheridan">
					@malcolmsheridan
				</a>
			</div>
			<div class="text">
				Malcolm Sheridan is a Microsoft awarded MVP in ASP.NET, ASP Insider, Telerik Insider and a regular presenter at conferences and user groups throughout Australia and New Zealand.
			</div>
		</div>
	</div>
	<div class="speaker" id="vaughan_rowsell">
		<div class="speaker_image">
			<%=image_tag "bio_pics/vaughan_rowsell.png", :title=>"Vaughan Rowsell" %>
		</div>
		<div class="bio">
			<div class="title">
				Vaughan Rowsell
			</div>
			<div class="social">
				<a href="http://twitter.com/#!/rowsell">
					@rowsell
				</a>
			</div>
			<div class="text">
				Founder and CEO of Vend, NZ Innovator of the year 2011. 
				Taking on the retail point-of-sale world with the a sexy HTML5 powered app, and making POS mean point-of-sale again. Often found in Auckland, San Francisco and on planes.
			</div>
		</div>
	</div>
	<div class="speaker">
		<div class="speaker_image" id="aaron_morton">
			<%=image_tag "bio_pics/aaron_morton.png", :title=>"Aaron Morton" %>
		</div>
		<div class="bio">
			<div class="title">
				Aaron Morton
			</div>
			<div class="social">
				<a href="http://twitter.com/#!/aaronmorton">
					@aaronmorton
				</a>
			</div>
			<div class="text">
				Aaron Morton is a freelance developer and a committer on the Apache Cassandra project. In 2010 he gave up the RDBMS world for the scale and reliability of Cassandra. He now spends his time advancing the Cassandra project and helping others get the best out of it.
			</div>
		</div>
	</div>
	<div class="speaker">
		<div class="speaker_image" id="hamish_friedlander">
			<%=image_tag "bio_pics/hamish_friedlander.png", :title=>"Hamish Friedlander" %>
		</div>
		<div class="bio">
			<div class="title">
				Hamish Friedlander
			</div>
			<div class="social">
				<a href="http://twitter.com/#!/hafriedlander">
					@hafriedlander
				</a>
			</div>
			<div class="text">
				Programming since childhood, Hamish has dedicated his life to technology. As CTO he ensures SilverStripe remains applicable to the evolving way humans use the internet, technologically advanced without becoming technical and future-focused without losing sight of the present. 
			</div>
		</div>
	</div>
	<div class="speaker">
		<div class="speaker_image" id="alla_boglaeva">
			<%=image_tag "bio_pics/alla_boglaeva.png", :title=>"Alla Boglaeva" %>
		</div>
		<div class="bio">
			<div class="title">
				Alla Boglaeva
			</div>
			<div class="social">
				<a href="http://twitter.com/allaboglaeva">
					@allaboglaeva
				</a>
			</div>
			<div class="text">
				When she’s not searching for deep powder on the slopes of Whistler, Alla works as a Technical Wizard at Provoke – Microsoft New Zealand Partner of the Year 2011. From cutting bespoke .NET apps through to leading technical teams at Provoke on some of New Zealand’s highest profile SharePoint deployments. More recently Alla has delivered a new intranet for the NZ Police and a new intranet/public web platform for NZ customs.
			</div>
		</div>
	</div>
</div>
<!--<div class="page" id="programme" style="display:none">
	<div class="section_title">
		   <%= image_tag "wdcnz_section_icon.png", :title => "WDCNZ" %>
		   Programme
	</div>
</div>-->
<div class="page" id="venue">
		<div class="section_title">
		   <%= image_tag "wdcnz_section_icon.png", :title => "WDCNZ" %>
		   Venue
	</div>
	<h2>
	WHERE IT'S AT
	</h2>
	<h3>Mac’s Brewhouse Function Rooms</h3>
	<p>
On the corner of Taranaki & Cable Streets, Wellington, NZ.<br />
We’ll look after you in this handily central location with fine food, coffee, bars <br/>
in the area and Wellington’s Waterfront at the backdoor.  
</p>
<h2>WHO'S ON WHEN</h2>
<p>We’ll announce/present/outline the order of the day closer to time.</p>
<h2>GROUP DISCOUNT</h2>
<p>If you’ve got a group of 5 or more get in contact with <a href="mailto:groups@wdcnz.com">groups@wdcnz.com</a>.<br/>
 We’ll hook you up. </p>



<h2>Eats And Drinks</h2>
<p>We will keep you well stocked throughout the day, and into the night.<br/>
If you have any dietary requirements, (we look after you too), just let us<br/>
know when you are buying tickets.</p>

<h2>Xero After Party</h2>
<p>After the conference kick back at the Xero After Party. Food, drinks and <br/>
	good times will be provided, so it’s worth sticking around. It’s also a great <br/>
	chance to chat & chill with speakers and other conference goers.</p>

<h2>Places To Stay</h2>
<p>If you're in need ot a room, we've arranged a few special deals at hotels<br/>
	close to the conference.

	<div class="hotel_block">
		<h3>The Museum Hotel</h3><span class="info">90 Cable Street, Wellington</span><span class="info">2 mins away</span><br/>
		<span><a href="mailto:groupbookings@museumhotel.co.nz">groupbookings@museumhotel.co.nz</a></span><span class="info">+64 4 802 8900</span><span class="info">Booking no: 63015</span><br/>
		<span>Rates starting from $225 inc GST, breakfast & internet</span>
	</div>
	<div class="hotel_block">
		<h3>West Plaza Hotel</h3><span class="info">Wakefield Street, Wellington</span><span class="info">5 mins away</span><br/>
		<span><a href="mailto:reservations@westplaza.co.nz">reservations@westplaza.co.nz</a></span><span class="info">0800 731 444</span><span class="info">Booking no: 317592</span><br/>
		<span>Rooms available from $140 inc GST & Breakfast</span>
	</div>
	<div class="hotel_block">
		<h3>YHA</h3><span class="info">292 Wakefield Street, Wellington</span><span class="info">4 mins away</span><br/>
		<span><a href="mailto:Lisa.Gebbels@yha.co.nz">Lisa.Gebbels@yha.co.nz</a></span><span class="info">+64 4 801 7280</span><br/>
		<span>Rates available from $31 per person</span>
	</div>
</p>
	<p>So...<br/>
Get a ticket and spread word via <a href="http://twitter.com/wdcnz">twitter</a>, <a href="http://facebook.com/wdcnz">facebook</a> or whatever works.
<h3>See you there!</h3>
	</p>



</div>
<div class="page" id="sponsors">
		<div class="section_title">
		   <%= image_tag "wdcnz_section_icon_black.png", :title => "WDCNZ" %>
		   Sponsors
	</div>
	<div class="sponsor large first">
		<div class="logo">
			<a href="http://www.xero.com/careers">
			 <%= image_tag "sponsors/xero.png", :title => "xero" %>
			</a>
		</div>
		<div class="blurb">
			There’s nothing quite like geeking out in a room full of like-minded people while hearing from some of the best talent in the industry. WDCNZ supports the growth and collaboration of NZ’s tech community. We're pretty stoked to be a part of it.<br/>
<br/>
On that note, we’re always on the lookout for talented individuals. If you see someone wearing our t-shirt, introduce yourself. Otherwise get in touch : <a href="http://www.xero.com/careers">xero.com/careers</a>
		</div>
	</div>
	<div class="sponsor">
		<div class="logo">
			<a href="http://silverstripe.com">
				 <%= image_tag "sponsors/silverstripe.png", :title => "SilverStripe" %>
				</a>
		</div>
		<div class="blurb">
			SilverStripe CMS is an open source web content management system used by government organisations, businesses and non-profit organisations around the world. The CMS is an easy to customise power tool for professional web developers and easy to use for web content authors.
		</div>
	</div>
	<div class="sponsor">
		<div class="logo">
			<a href="http://iwantmyname.com">
			 <%= image_tag "sponsors/iwantmyname.png", :title => "iWantMyName" %>
			</a>
		</div>
		<div class="blurb">
			iWantMyName is a global domain name management service based in Wellington. With an amazingly simple site, they make searching, purchasing and setting up your web address a breeze. The service lets you choose from 100+ international top-level domains and also offers 1-click DNS setup for the most popular web apps.
		</div>
	</div>
	<div class="sponsor last">
		<div class="logo">
			<a href="http://trademe.co.nz">
			 <%= image_tag "sponsors/trademe.png", :title => "TradeMe" %>
			</a>
		</div>
		<div class="blurb">
			Huge thanks to TradeMe for providing free WiFi again at this years event
		</div>
	</div>
</div>
<div class="page" id="contact">
		<div class="section_title">
		   <%= image_tag "wdcnz_section_icon.png", :title => "WDCNZ" %>
		   Contact
	</div>
</div>

