<div class="page center" id="home">
	<ul>
		<li><a href="#garann_means">Garann Means</a></li>
		<li><a href="#julia_grace">Julia Grace</a></li>
		<li><a href="#zach_holman">Zach Holman</a></li>
		<li><a href="#rob_conery">Rob Conery</a></li>
		<li><a href="#ryan_seddon">Ryan Seddon</a></li>
		<li><a href="#françois_marier">François Marier</a></li>
		<li><a href="#jason_kiss">Jason Kiss</a></li>
		<li><a href="#amy_palamountain">Amy Palamountain</a></li>
		<li><a href="#walter_rumsby">Walter Rumsby</a></li>
		<li><a href="#alex_gibson">Alex Gibson</a></li>
		<li><a href="#donald_gordon">Donald Gordon</a></li>
	</ul>
</div>

<div class="page center" id="speakers">
	<h2 class="section_title">
	   <%= image_tag "wdcnz_section_icon.png", :title => "WDCNZ" %>
	   Speakers
	</h2>
	<div class="speaker" id="garann_means">
		<div class="speaker_image">
			<%=image_tag "bio_pics/garann_means.png", :title=>"Garann Means" %>
		</div>
		<div class="bio">
			<h3>Garann Means</h3>
			<div class="social">
				<a href="http://twitter.com/garannm">@garannm</a>
			</div>
			<p>Garann is a JavaScript developer from Austin, Texas, USA. She works at Etsy, where she tries to use front-end technologies to make it easier for people around the world to buy and sell handmade and vintage treasures. She's the author of Node for Front-End Developers, the organizer of Austin All-Girl Hack Night and Girl Develop It Austin, and one of the co-hosts of the Fripfrap podcast.</p>
		</div>
	</div>
	<div class="speaker" id="julia_grace">
		<div class="speaker_image">
			<%=image_tag "bio_pics/julia_grace.png", :title=>"Julia Grace" %>
		</div>
		<div class="bio">
			<h3>Julia Grace</h3>
			<div class="social">
				<a href="http://twitter.com/jewelia">@jewelia</a>
			</div>
			<p>Julia is the engineering lead at Tindie (<a href=http://tindie.com>tindie.com</a>, "Etsy for electronics") where she writes Python every day (and sometimes on weekends too, but only because she's a Python addict). In her prior life she was CTO of WeddingLovely (a 500 startups Winter 2011 alum), product manager at a mid-stage startup, and a research engineer as part of one of the world's top User Experience Research groups at IBM Almaden Research.</p>
		</div>
	</div>
	<div class="speaker" id="zach_holman">
		<div class="speaker_image">
			<%=image_tag "bio_pics/zach_holman.png", :title=>"Zach Holman" %>
		</div>
		<div class="bio">
			<h3>Zach Holman</h3>
			<div class="social">
				<a href="http://twitter.com/#!/holman">@holman</a>
			</div>
			<p>Zach works at GitHub. When he's not doing that, he's blogging, hacking on open source, and giving talks about building products, growing startups, and using Ruby. He lives in San Francisco.</p>
		</div>
	</div>

	<div class="speaker" id="rob_conery">
		<div class="speaker_image">
			<%=image_tag "bio_pics/rob_conery.png", :title=>"Rob Conery" %>
		</div>
		<div class="bio">
			<h3>Rob Conery</h3>
			<div class="social">
				<a href="http://twitter.com/#!/robconery">@robconery</a>
			</div>
			<p>Rob Conery is the Co-Founder of Tekpub.com Creator of This Developer's Life, an Author, Speaker, A bit of a malcontent, and cares for many, many Open Source libraries such as Massive, SubSonic, and Manatee</p>
		</div>
	</div>

	<div class="speaker">
		<div class="speaker_image" id="ryan_seddon">
			<%=image_tag "bio_pics/ryan_seddon.png", :title=>"Ryan Seddon" %>
		</div>
		<div class="bio">
			<h3>Ryan Seddon</h3>
			<div class="social">
				<a href="http://twitter.com/ryanseddon">@ryanseddon</a>
			</div>
			<p>Ryan is a Senior Front-end Developer from Mel­bourne, Aus­tralia - who has an unnat­ural obses­sion with JavaS­cript and the many places it runs. He also loves to tinker with any new web tech­no­logy he can get his hands on, loves diving into specs and code to fig­ure out more. In his spare time he’s either play­ing bas­ket­ball, writ­ing for his blog <a href="http://thecssninja.com">thecssninja.com</a> or com­mit­ting code to github.</p>
		</div>
	</div>
	<div class="speaker" id="françois_marier">
		<div class="speaker_image">
			<%=image_tag "bio_pics/francois_marier.png", :title=>"François Marier" %>
		</div>
		<div class="bio">
			<h3>François Marier</h3>
			<div class="social">
				<a href="http://twitter.com/#!/fmarier">@fmarier</a>
			</div>
			<p>François is a software engineer on the Mozilla Identity team where he
  fights for the open Web by building alternatives to proprietary silos.

  When he's not busy re-implementing Open Source versions of popular Web
  services (libravatar.org) or dreaming about solving the password problem
  on the Web once and for all, François likes to move closer towards his
  goal of completing all of the New Zealand Great Walks. <a href="http://feeding.cloud.geek.nz">http://feeding.cloud.geek.nz</a></p>
		</div>
	</div>

	
	<div class="speaker">
		<div class="speaker_image" id="jason_kiss">
			<%=image_tag "bio_pics/jason_kiss.png", :title=>"Jason Kiss" %>
		</div>
		<div class="bio">
			<h3>Jason Kiss</h3>
			<div class="social">
				<a href="http://twitter.com/#!/jkiss">@jkiss</a>
			</div>
			<p>Jason advises on web standards and accessibility for the <br/>New Zealand Government, and is a contributing editor on the W3C's HTML to Platform Accessibility APIs Implementation Guide. In his spare time, he occasionally performs research on HTML5, WAI-ARIA, and accessibility, which he publishes at accessibleculture.org. Otherwise, he's pretty boring.</p>
		</div>
	</div>
	<div class="speaker">
		<div class="speaker_image" id="amy_palamountain">
			<%=image_tag "bio_pics/amy_palamountain.png", :title=>"Amy Palamountain" %>
		</div>
		<div class="bio">
			<h3>Amy Palamountain</h3>
			<div class="social">
				<a href="http://twitter.com/#!/ammeep">@ammeep</a>
			</div>
			<p>Amy is a developer at GreenButton, where she helps take the High Performance Computing space up into the clouds. She spends her days hacking primarily in .NET and JavaScript. Amy is madly in love with building awesome software, and finding new and interesting ways to do so.</p>
		</div>
	</div>
	<div class="speaker">
		<div class="speaker_image" id="walter_rumsby">
			<%=image_tag "bio_pics/walter_rumsby.png", :title=>"Walter Rumsby" %>
		</div>
		<div class="bio">
			<h3>Walter Rumsby</h3>
			<div class="social">
				<a href="http://twitter.com/wrumsby">@wrumsby</a>
			</div>
			<p>Walter Rumsby is a front-end developer for Xero in Auckland. He has been building web-based user interfaces with JavaScript & CSS since 1998. He is an organiser of the Auckland JavaScript Meetup.</p>
		</div>
	</div>
	
	<div class="speaker">
		<div class="speaker_image" id="alex_gibson">
			<%=image_tag "bio_pics/alex_gibson.png", :title=>"Alex Gibson" %>
		</div>
		<div class="bio">
			<h3>Alex Gibson</h3>
			<div class="social">
				<a href="http://twitter.com/prototypealex">@prototypealex</a>
			</div>
			<p>Now a software engineer at Powershop, Alex was half of the team that won the Mix and Mash supreme award in 2011, with an interactive visualisation entry, ‘100 Companies’.
Since then, Alex has been researching with UX experts &amp; psychologists to find out better ways to visualise large amounts data in easily digestible formats.</p>
		</div>
	</div>
	<div class="speaker">
		<div class="speaker_image" id="donald_gordon">
			<%=image_tag "bio_pics/donald_gordon.png", :title=>"Donald Gordon" %>
		</div>
		<div class="bio">
			<h3>Donald Gordon</h3>
			<div class="social">
				<a href="http://twitter.com/deadlyllama">@deadlyllama</a>
			</div>
			<p>Donald was Xero’s first Operations Developer, and is the architect of their build, deployment and monitoring systems.  He’s been coding since a ZX Spectrum crossed his path at an early age.</p>
		</div>
	</div>
</div>

<div class="page" id="programme">
	<div class="center">
		<div class="inner">
			<h2 class="section_title">
			   <%= image_tag "wdcnz_section_icon_black.png", :title => "WDCNZ" %>
			   Programme
			</h2>
			<table class="programme">
				<tr>
					<td class="time">
						8am
					</td>
					<td class="details">
						Registration
					</td>
				</tr>
				<tr>
					<td class="time">
						9am
					</td>
					<td class="details">
						Open
					</td>
				</tr>
				<tr>
					<td class="time">
						9.05am
					</td>
					<td class="details">
						<div class="talk">
							Julia Grace
						</div>
						<div class="tag">
							Location Unplugged: Handling Geospatial Data Across the Stack
						</div>
					</td>
				</tr>
				<tr>
					<td class="time">
						9.50am
					</td>
					<td class="details">
						<div class="talk">
							Zach Holman
						</div>
						<div class="tag">
							More Git and GitHub Secrets
						</div>
					</td>
				</tr>
				<tr>
					<td class="time">
						10.40am
					</td>
					<td class="details">
						Break
					</td>
				</tr>
				<tr>
					<td class="time">
						11.10am
					</td>
					<td class="details">
						<div class="talk">
							François Marier
						</div>
						<div class="tag">
							Taking the pain out of signing users in
						</div>
						<hr/>
						<div class="talk">
							Walter Rumsby
						</div>
						<div class="tag">
							The Loading Point: How Little Modules Can Make a Big Difference
						</div>
					</td>
				</tr>
				<tr>
					<td class="time">
						midday
					</td>
					<td class="details">
						<div class="talk">
							Ryan Seddon
						</div>
						<div class="tag">
							The future of web app development with components
						</div>
						<hr/>
						<div class="talk">
							Jason Kiss
						</div>
						<div class="tag">
							Make Your Widgets Sing with ARIA
						</div>
					</td>
				</tr>
				<tr>
					<td class="time">
						12.50pm
					</td>
					<td class="details">
						Lunch
					</td>
				</tr>
				<tr>
					<td class="time">
						1.50pm
					</td>
					<td class="details">
						<div class="talk">
							The Panel
						</div>
						<div class="tag">
							
						</div>
					</td>
				</tr>
				<tr>
					<td class="time">
						2.30pm
					</td>
					<td class="details">
						<!--<div class="talk">
							TBA
						</div>
						<div class="tag">
							The life and times of Mr Magoo*
						</div>
						<hr/>-->
						<div class="talk">
							Alex Gibson
						</div>
						<div class="tag">
							Data Driven Delirious: An introduction into data visualisation using d3.js
						</div>
					</td>
				</tr>
				<tr>
					<td class="time">
						3.10pm
					</td>
					<td class="details">
						<div class="talk">
							Amy Palamountain
						</div>
						<div class="tag">
							Exist in the web - not just on it
						</div>
						<hr/>
						<div class="talk">
							Donald Gordon
						</div>
						<div class="tag">
							Lather, Rinse, Release.
						</div>
					</td>
				</tr>
				<tr>
					<td class="time">
						3.50pm
					</td>
					<td class="details">
						Break
					</td>
				</tr>
				<tr>
					<td class="time">
						4.20pm
					</td>
					<td class="details">
						<div class="talk">
							Rob Conery
						</div>
						<div class="tag">
							Tomato nurturing for infants*
						</div>
					</td>
				</tr>
				<tr>
					<td class="time">
						5:10pm
					</td>
					<td class="details">
						<div class="talk">
							Garann Means
						</div>
						<div class="tag">
							Better templates from the ground up with Node.js
						</div>
					</td>
				</tr>
				<tr>
					<td class="time">
						6pm
					</td>
					<td class="details">
						Closing
					</td>
				</tr>
				<tr>
					<td class="time">
						5mins later
					</td>
					<td class="details">
						Bar Opens
					</td>
				</tr>
				<tr>
					<td class="time">
						6.30 till late
					</td>
					<td class="details bold">
						The Xero After Party
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="page center" id="venue">
	<h2 class="section_title">
		<%= image_tag "wdcnz_section_icon.png", :title => "WDCNZ" %>
		Venue
	</h2>
	<h3>WHERE IT'S AT</h3>
	<h4>Michael Fowler Centre</h4>
	<p>111 Wakefield Street, Wellington <br />
		It’s close to popular Cuba Street with all the good stuff: food, coffee and bars.
	</p>
	
	<h3>Eats And Drinks</h3>
	<p>We will keep you well fed and watered throughout the day 
		with good quality coffee (People’s Coffee) and food.<br />
		<br />
		If you have any dietary requirements, (we look after you too), just let us
		know when you are buying tickets.</p>

	<h3>Xero After Party 6pm - 9pm</h3>
	<p>What better way to relax after an information tense day of presentations,
		than having a few quiets with speakers<br/> and your fellow attendees at the Xero after party.<br />
		<br />
	Kicking off after the last keynote, we’ll have some light nibbles to top you up and Xero have put down a bar tab,<br />
	it’s worth sticking around. </p>

	<h3>Places To Stay</h3>
	<p>We’ve reached out to the local hotels, who have given us some sweet rates,<br />
	all subject to availability - so get in quick:</p>

   <div class="hotel">
		<h4>Amora Hotel</h4>
		<ul>
			<li>170 Wakefield Street, Wellington</li>
			<li>1 minute walk to venue<br /></li>
			<li class="noDivider">Rooms available from $180 per night</li>
		</ul>
	</div>
	<div class="hotel">
		<h4>West Plaza Hotel</h4>
		<ul>
			<li>110/116 Wakefield Street, Wellington</li>
			<li>1 minute walk to venue<br /></li>
			<li class="noDivider"><a href="mailto:reservations@westplaza.co.nz">reservations@westplaza.co.nz</a></li>
			<li>0800 731 444</li>
			<li>Booking no: 333933 <br /></li>
			<li class="noDivider">Rooms available from $135 inc GST & breakfast (rate only available if booking direct with hotel)</li>
		</ul>
	</div>
	<div class="hotel">
		<h4>Museum Hotel</h4>
		<ul>
			<li>90 Cable Street, Wellington</li>
			<li>5 minutes walk to venue </li>
			<li>Booking no: JF10 <br /></li>
			<li class="noDivider"><a href="mailto:groups@museumhotel.co.nz">groups@museumhotel.co.nz</a><br/></li>
			<li class="noDivider">Special discount of 10% off best available rate at time of booking</li>
		</ul>
	</div>
	<div class="hotel">
		<h4>YHA</h4>
		<ul>
			<li>292 Wakefield Street, Wellington</li>
			<li>8 mins away <br /></li>
			<li class="noDivider"><a href="mailto:Lisa.Gebbels@yha.co.nz">Lisa.Gebbels@yha.co.nz</a></li>
			<li>04 801 7280</li>
			<li>Booking no: WDCNZ <br /></li>
			<li class="noDivider">Rates available from $31 per person</li>
		</ul>
	</div>

	<p>So...<br />
		<a href="https://wdcnz-2013.lilregie.com">Get a ticket</a> and spread word via <a href="http://twitter.com/wdcnz">twitter</a>, <a href="http://facebook.com/wdcnz">facebook</a> or 
		whatever works.</p>
		
	<h4>See you there!</h4>
</div>

<div class="page" id="sponsors">
	<div class="center">
		<div class="inner">
			<h2 class="section_title">
			   <%= image_tag "wdcnz_section_icon_black.png", :title => "WDCNZ" %>
			   Sponsors
			</h2>
			<div class="heros large first">
				<div class="logo">
					<a href="http://www.xero.com/careers/?utm_source=wdcnz.com&utm_medium=Web&utm_campaign=Event_Misc">
						<%= image_tag "sponsors/xero.png", :title => "xero" %>
					</a>
				</div>
				<div class="blurb">
					<p>There’s nothing quite like geeking out in a room full of like-minded people while hearing from some of the best talent in the industry. WDCNZ supports the growth and collaboration 
						of NZ’s tech community. We're pretty stoked to be a part of it.</p>
					<p>On that note, we’re always on the lookout for talented individuals. If you see someone wearing our t-shirt, introduce yourself. Otherwise get in 
						touch: <a href="http://www.xero.com/careers/?utm_source=wdcnz.com&utm_medium=Web&utm_campaign=Event_Misc">xero.com/careers</a></p>
				</div>
			</div>
			<div class="heros last">
				<div class="logo">
					<a href="http://www.heyday.co.nz">
					 <%= image_tag "sponsors/heyday.png", :title => "Heyday" %>
					</a>
				</div>
				<div class="blurb">
					<p>Heyday is an agency of digital strategists, writers, designers, UX'ers, producers, developers, and videographers. We make digital content and the stuff that gets it to you - websites, apps, online stores, campaigns, video. We're proud to support WDCNZ and the spirit of making things.
<a href="http://www.heyday.co.nz">www.heyday.co.nz</a></p>
				</div>
			</div>
			<div class="heros">
				<div class="logo">
					<a href="http://www.lilregie.com">
					 <%= image_tag "sponsors/lil_regie.png", :title => "Lil Regie" %>
					</a>
				</div>
				<div class="blurb">
					<p>Thanks to Lil Regie for helping us out with a great booking system
<a href="http://www.lilregie.com">www.lilregie.com</a></p>
				</div>
			</div>
			<div class="heros last">
				<div class="logo">
					<a href="http://www.campaignmonitor.com">
					 <%= image_tag "sponsors/campaign_monitor.png", :title => "Campaign Monitor" %>
					</a>
				</div>
				<div class="blurb">
					<p>Thanks to Campaign Mointor for helping us send some awesome emails
<a href="http://www.campaignmonitor.com">www.campaignmonitor.com</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="page center" id="contact">
	<div class="inner">
		<h2 class="section_title">
		   <%= image_tag "wdcnz_section_icon.png", :title => "WDCNZ" %>
		   Contact
		</h2>
		<p>WDCNZ (Web Dev Conversations NZ) is brought to you by Owen Evans,<br /> Charlotte Hinton, Dave Keyes and many others who deserve your lovin.</p>
		<p>If you have any questions get in contact at <a href="mailto:team@wdcnz.com">team@wdcnz.com</a></p>
	</div>
</div>

