<div class="page" id="home">
	<div class="speaker-name">
		<a class="speaker_link" href="#douglas_crockford">
		Douglas Crockford
		</a>
	</div>
	<div class="speaker-name">
		<a class="speaker_link" href="#divya_manian">
			Divya Manian
		</a>
	</div>
	<div class="speaker-name">
		<a class="speaker_link" href="#lea_verou">
			Lea Verou
		</a>
	</div>
	<div class="speaker-name">
		<a class="speaker_link" href="#vaughan_rowsell">
			Vaughan Rowsell
		</a>
	</div>
	<div class="speaker-name">
		<a class="speaker_link" href="#aaron_morton">
			Aaron Morton
		</a>
	</div>

	<div class="speaker-name">
		<a class="speaker_link" href="#hamish_friedlander">
			Hamish Friedlander
		</a>
	</div>
	<div class="speaker-name">
		<a class="speaker_link" href="#alla_boglaeva">
			Alla Boglaeva
		</a>
	</div>
	
	
</div>
<div class="page" id="speakers">
	<div class="section_title">
		   <%= image_tag "wdcnz_section_icon.png", :title => "WDCNZ" %>
		   Speakers
	</div>
	<div class="speaker" id="douglas_crockford">
		<div class="speaker_image">
			<%=image_tag "bio_pics/douglas_crockford.png", :title=>"Douglas Crockford" %>
		</div>
		<div class="bio">
			<div class="title">
				Douglas Crockford
			</div>
			<div class="social">
				<a href="http://www.crockford.com">
					crockford.com
				</a>
			</div>
			<div class="text">
				Douglas Crockford was born in the wilds of Minnesota, but left when he was only six months old because it was just too damn cold. He turned his back on a promising career in television when he discovered computers. He has worked in learning systems, small business systems, office automation, games, interactive music, multimedia, location-based entertainment, social systems, and programming languages. He is the inventor of Tilton, the ugliest programming language that was not specifically designed to be an ugly programming language. He is best known for having discovered that there are good parts in JavaScript. This was an important and unexpected discovery. He also discovered the JSON Data Interchange Format, the world's best loved data format. And he works at Yahoo!
			</div>
		</div>
	</div>
	<div class="speaker" id="divya_manian">
		<div class="speaker_image">
			<%=image_tag "bio_pics/divya_manian.png", :title=>"Divya Manian, Speaker Photo:© Mohini Patel Glanz" %>
		</div>
		<div class="bio">
			<div class="title">
				Divya Manian
			</div>
			<div class="social">
				<a href="http://twitter.com/divya">
					@divya
				</a>
			</div>
			<div class="text">
				Divya Manian is part of the Adobe Web Platform Team in San Francisco. She made the jump from developing device drivers for Motorola phones to designing websites and has not looked back since. She takes her duties as an Open Web vigilante seriously which has resulted in collaborative projects such as HTML5 Please and HTML5 Boilerplate.
			</div>
		</div>
	</div>
	<div class="speaker" id="lea_verou">
		<div class="speaker_image">
			<%=image_tag "bio_pics/lea_verou.png", :title=>"Lea Verou" %>
		</div>
		<div class="bio">
			<div class="title">
				Lea Verou
			</div>
			<div class="social">
				<a href="http://twitter.com/#!/leaverou">
					@leaverou
				</a>
			</div>
			<div class="text">
				Lea has a long-standing passion for open web standards, and has been often called a “CSS guru”. She loves researching new ways to take advantage of modern web technologies and shares her findings through her blog, <a href="http://lea.verou.me">lea.verou.me</a>. Lea also makes popular&nbsp;<a href="http://lea.verou.me/css3-tools/" target="_blank">tools</a> and <a href="http://lea.verou.me/libraries/" target="_blank">libraries</a> that help web developers learn and use these standards. She <a href="http://lea.verou.me/speaking">speaks</a> at a number of well-known international web development conferences and <a href="http://lea.verou.me/publications" target="_blank">writes</a> for leading industry publications. Lea also co-organized and occasionally lectures the web development course at the Athens University of Economics and Business.
			</div>
		</div>
	</div>
	<div class="speaker" id="vaughan_rowsell">
		<div class="speaker_image">
			<%=image_tag "bio_pics/vaughan_rowsell.png", :title=>"Vaughan Rowsell" %>
		</div>
		<div class="bio">
			<div class="title">
				Vaughan Rowsell
			</div>
			<div class="social">
				<a href="http://twitter.com/#!/rowsell">
					@rowsell
				</a>
			</div>
			<div class="text">
				Founder and CEO of Vend, NZ Innovator of the year 2011. 
				Taking on the retail point-of-sale world with the a sexy HTML5 powered app, and making POS mean point-of-sale again. Often found in Auckland, San Francisco and on planes.
			</div>
		</div>
	</div>
	<div class="speaker">
		<div class="speaker_image" id="aaron_morton">
			<%=image_tag "bio_pics/aaron_morton.png", :title=>"Aaron Morton" %>
		</div>
		<div class="bio">
			<div class="title">
				Aaron Morton
			</div>
			<div class="social">
				<a href="http://twitter.com/#!/aaronmorton">
					@aaronmorton
				</a>
			</div>
			<div class="text">
				Aaron Morton is a freelance developer and a committer on the Apache Cassandra project. In 2010 he gave up the RDBMS world for the scale and reliability of Cassandra. He now spends his time advancing the Cassandra project and helping others get the best out of it.
			</div>
		</div>
	</div>
	<div class="speaker">
		<div class="speaker_image" id="hamish_friedlander">
			<%=image_tag "bio_pics/hamish_friedlander.png", :title=>"Hamish Friedlander" %>
		</div>
		<div class="bio">
			<div class="title">
				Hamish Friedlander
			</div>
			<div class="social">
				<a href="http://twitter.com/#!/hafriedlander">
					@hafriedlander
				</a>
			</div>
			<div class="text">
				Programming since childhood, Hamish has dedicated his life to technology. As CTO he ensures SilverStripe remains applicable to the evolving way humans use the internet, technologically advanced without becoming technical and future-focused without losing sight of the present. 
			</div>
		</div>
	</div>
	<div class="speaker">
		<div class="speaker_image" id="alla_boglaeva">
			<%=image_tag "bio_pics/alla_boglaeva.png", :title=>"Alla Boglaeva" %>
		</div>
		<div class="bio">
			<div class="title">
				Alla Boglaeva
			</div>
			<div class="social">
				<a href="http://twitter.com/allaboglaeva">
					@allaboglaeva
				</a>
			</div>
			<div class="text">
				When she’s not searching for deep powder on the slopes of Whistler, Alla works as a Technical Wizard at Provoke – Microsoft New Zealand Partner of the Year 2011. From cutting bespoke .NET apps through to leading technical teams at Provoke on some of New Zealand’s highest profile SharePoint deployments. More recently Alla has delivered a new intranet for the NZ Police and a new intranet/public web platform for NZ customs.
			</div>
		</div>
	</div>
</div>
<!--<div class="page" id="programme" style="display:none">
	<div class="section_title">
		   <%= image_tag "wdcnz_section_icon.png", :title => "WDCNZ" %>
		   Programme
	</div>
</div>-->
<div class="page" id="venue">
		<div class="section_title">
		   <%= image_tag "wdcnz_section_icon.png", :title => "WDCNZ" %>
		   Venue
	</div>
	<h2>
	WHERE IT'S AT
	</h2>
	<p>
Mac’s Brewhouse Function Rooms - cnr Taranaki & Cable St, Wellington, NZ. Right by Wellington’s waterfront, Te Papa museum and the big brewhouse bar.<br/>
Tech talks in scenic setting. You’ll be sorted!
</p>
<h2>GROUP DISCOUNT</h2>
<p>Kust contact us at groups@wdcnz.com and we'll see what we can do for you.</p>

<h2>WHO'S ON WHEN</h2>
<p>TBC</p>

<h2>FOOD n' DRINK</h2>
<p>There will be food & drinks provided during the day (so if you have any dietary requirements please let us know when you're getting your tickets). Later on in the evening you can tuck into free drinks and nibbles at the Xero After Party!</p>

<h2>THE XERO AFTER PARTY!</h2>
<p>This years @WDCNZ after party is brought to you exclusively by Xero. There'll be a live band on the evening, followed by a DJ. Nibbles and drinks are included. </br>
Well worth staying around for and a great networking opportunity.</p>

<h2>PLACE TO STAY</h2>
We've arranged special rates at a couple of nearby hotels if you need a room. <br/>

West Plaza Hotel Wakefiled Street, Wellington (5 mins away)<br/>
reservations@westplaza.co.nz   |  Ref: 21011  |  From $135 inc GST <br/>

Museum Hotel 90 Cable Street, Wellington (2 mins away)<br/>
groupbookings@museumhotel.co.nz   |  Ref: XERO  |  From $204.34 inc GST<br/>

</div>
<div class="page" id="sponsors">
		<div class="section_title">
		   <%= image_tag "wdcnz_section_icon_black.png", :title => "WDCNZ" %>
		   Sponsors
	</div>
	<div class="sponsor large first">
		<div class="logo">
			 <%= image_tag "sponsors/xero.png", :title => "xero" %>
		</div>
		<div class="blurb">
			Here is some sponsor profile text to give you a bit of an overview on how this company fits into the grand scheme of things on the web. They may include details on the specific technology or recruitment stuff. Here is some sponsor profile text to give you a bit of an overview on how this company fits into the grand scheme of things on the web. They may include details on the specifi technology or recruitment stuff.
		</div>
	</div>
	<div class="sponsor">
		<div class="logo">
				 <%= image_tag "sponsors/silverstripe.png", :title => "SilverStripe" %>
		</div>
		<div class="blurb">
			SilverStripe CMS is an open source web content management system used by government organisations, businesses and non-profit organisations around the world. The CMS is an easy to customise power tool for professional web developers and easy to use for web content authors.
		</div>
	</div>
	<div class="sponsor">
		<div class="logo">
			 <%= image_tag "sponsors/iwantmyname.png", :title => "iWantMyName" %>
		</div>
		<div class="blurb">
			iWantMyName is a global domain name management service based in Wellington. With an amazingly simple site, they make searching, purchasing and setting up your web address a breeze. The service lets you choose from 100+ international top-level domains and also offers 1-click DNS setup for the most popular web apps.
		</div>
	</div>
	<div class="sponsor last">
		<div class="logo">
			 <%= image_tag "sponsors/trademe.png", :title => "TradeMe" %>
		</div>
		<div class="blurb">
		</div>
	</div>
</div>
<div class="page" id="contact">
		<div class="section_title">
		   <%= image_tag "wdcnz_section_icon.png", :title => "WDCNZ" %>
		   Contact
	</div>
</div>

