<div class="page" id="home">
	<div class="speaker-name">
		<a class="speaker_link" href="#douglas_crockford">
		Douglas Crockford
		</a>
	</div>
	<div class="speaker-name">
		<a class="speaker_link" href="#divya_manian">
			Divya Manian
		</a>
	</div>
	<div class="speaker-name">
		<a class="speaker_link" href="#lea_verou">
			Lea Verou
		</a>
	</div>
	<div class="speaker-name">
		<a class="speaker_link" href="#vaughan_rowsell">
			Vaughan Rowsell
		</a>
	</div>
	<div class="speaker-name">
		<a class="speaker_link" href="#aaron_morton">
			Aaron Morton
		</a>
	</div>

	<div class="speaker-name">
		<a class="speaker_link" href="#hamish_friedlander">
			Hamish Friedlander
		</a>
	</div>
	<div class="speaker-name">
		<a class="speaker_link" href="#alla_boglaeva">
			Alla Boglaeva
		</a>
	</div>
	
	
</div>
<div class="page" id="speakers">
	<div class="section_title">
		   <%= image_tag "wdcnz_section_icon.png", :title => "WDCNZ" %>
		   Speakers
	</div>
	<div class="speaker" id="douglas_crockford">
		<div class="speaker_image">
			<%=image_tag "bio_pics/douglas_crockford.png", :title=>"Douglas Crockford" %>
		</div>
		<div class="bio">
			<div class="title">
				Douglas Crockford
			</div>
			<div class="social">
				<a href="http://www.crockford.com">
					crockford.com
				</a>
			</div>
			<div class="text">
				Douglas Crockford was born in the wilds of Minnesota, but left when he was only six months old because it was just too damn cold. He turned his back on a promising career in television when he discovered computers. He has worked in learning systems, small business systems, office automation, games, interactive music, multimedia, location-based entertainment, social systems, and programming languages. He is the inventor of Tilton, the ugliest programming language that was not specifically designed to be an ugly programming language. He is best known for having discovered that there are good parts in JavaScript. This was an important and unexpected discovery. He also discovered the JSON Data Interchange Format, the world's best loved data format. And he works at Yahoo!
			</div>
		</div>
	</div>
	<div class="speaker" id="divya_manian">
		<div class="speaker_image">
			<%=image_tag "bio_pics/divya_manian.png", :title=>"Divya Manian, Speaker Photo:© Mohini Patel Glanz" %>
		</div>
		<div class="bio">
			<div class="title">
				Divya Manian
			</div>
			<div class="social">
				<a href="http://twitter.com/divya">
					@divya
				</a>
			</div>
			<div class="text">
				Divya Manian is a Web Opener for Opera Software. She made the jump from developing device drivers for Motorola phones to designing websites and has not looked back since. She takes her duties as an Open Web vigilante seriously which has resulted in collaborative projects such as HTML5 Please and HTML5 Boilerplate.
			</div>
		</div>
	</div>
	<div class="speaker" id="lea_verou">
		<div class="speaker_image">
			<%=image_tag "bio_pics/lea_verou.png", :title=>"Lea Verou" %>
		</div>
		<div class="bio">
			<div class="title">
				Lea Verou
			</div>
			<div class="social">
				<a href="http://twitter.com/#!/leaverou">
					@leaverou
				</a>
			</div>
			<div class="text">
				Lea has a long-standing passion for open web standards, and has been often called a “CSS guru”. She loves researching new ways to take advantage of modern web technologies and shares her findings through her blog, <a href="http://lea.verou.me">lea.verou.me</a>. Lea also makes popular&nbsp;<a href="http://lea.verou.me/css3-tools/" target="_blank">tools</a> and <a href="http://lea.verou.me/libraries/" target="_blank">libraries</a> that help web developers learn and use these standards. She <a href="http://lea.verou.me/speaking">speaks</a> at a number of well-known international web development conferences and <a href="http://lea.verou.me/publications" target="_blank">writes</a> for leading industry publications. Lea also co-organized and occasionally lectures the web development course at the Athens University of Economics and Business.
			</div>
		</div>
	</div>
	<div class="speaker" id="vaughan_rowsell">
		<div class="speaker_image">
			<%=image_tag "bio_pics/vaughan_rowsell.png", :title=>"Vaughan Rowsell" %>
		</div>
		<div class="bio">
			<div class="title">
				Vaughan Rowsell
			</div>
			<div class="social">
				<a href="http://twitter.com/#!/rowsell">
					@rowsell
				</a>
			</div>
			<div class="text">
				Founder and CEO of Vend, NZ Innovator of the year 2011. 
				Taking on the retail point-of-sale world with the a sexy HTML5 powered app, and making POS mean point-of-sale again. Often found in Auckland, San Francisco and on planes.
			</div>
		</div>
	</div>
	<div class="speaker">
		<div class="speaker_image" id="aaron_morton">
			<%=image_tag "bio_pics/aaron_morton.png", :title=>"Aaron Morton" %>
		</div>
		<div class="bio">
			<div class="title">
				Aaron Morton
			</div>
			<div class="social">
				<a href="http://twitter.com/#!/aaronmorton">
					@aaronmorton
				</a>
			</div>
			<div class="text">
				Aaron Morton is a freelance developer and a committer on the Apache Cassandra project. In 2010 he gave up the RDBMS world for the scale and reliability of Cassandra. He now spends his time advancing the Cassandra project and helping others get the best out of it.
			</div>
		</div>
	</div>
	<div class="speaker">
		<div class="speaker_image" id="hamish_friedlander">
			<%=image_tag "bio_pics/hamish_friedlander.png", :title=>"Hamish Friedlander" %>
		</div>
		<div class="bio">
			<div class="title">
				Hamish Friedlander
			</div>
			<div class="social">
				<a href="http://twitter.com/#!/hafriedlander">
					@hafriedlander
				</a>
			</div>
			<div class="text">
				Programming since childhood, Hamish has dedicated his life to technology. As CTO he ensures SilverStripe remains applicable to the evolving way humans use the internet, technologically advanced without becoming technical and future-focused without losing sight of the present. 
			</div>
		</div>
	</div>
	<div class="speaker">
		<div class="speaker_image" id="alla_boglaeva">
			<%=image_tag "bio_pics/alla_boglaeva.png", :title=>"Alla Boglaeva" %>
		</div>
		<div class="bio">
			<div class="title">
				Alla Boglaeva
			</div>
			<div class="social">
				<a href="http://twitter.com/allaboglaeva">
					@allaboglaeva
				</a>
			</div>
			<div class="text">
				When she’s not searching for deep powder on the slopes of Whistler, Alla works as a Technical Wizard at Provoke – Microsoft New Zealand Partner of the Year 2011. From cutting bespoke .NET apps through to leading technical teams at Provoke on some of New Zealand’s highest profile SharePoint deployments. More recently Alla has delivered a new intranet for the NZ Police and a new intranet/public web platform for NZ customs
			</div>
		</div>
	</div>
</div>
<!--<div class="page" id="programme" style="display:none">
	<div class="section_title">
		   <%= image_tag "wdcnz_section_icon.png", :title => "WDCNZ" %>
		   Programme
	</div>
</div>-->
<div class="page" id="venue">
		<div class="section_title">
		   <%= image_tag "wdcnz_section_icon.png", :title => "WDCNZ" %>
		   Venue
	</div>
</div>
<div class="page" id="sponsors">
		<div class="section_title">
		   <%= image_tag "wdcnz_section_icon.png", :title => "WDCNZ" %>
		   Sponsors
	</div>
</div>
<div class="page" id="contact">
		<div class="section_title">
		   <%= image_tag "wdcnz_section_icon.png", :title => "WDCNZ" %>
		   Contact
	</div>
</div>

