<div class="page center" id="home">
	<ul>
		<li><a href="#douglas_crockford">Douglas Crockford</a></li>
		<li><a href="#divya_manian">Divya Manian</a></li>
		<li><a href="#lea_verou">Lea Verou</a></li>
		<li><a href="#malcolm_sheridan">Malcolm Sheridan</a></li>
		<li><a href="#vaughan_rowsell">Vaughan Rowsell</a></li>
		<li><a href="#aaron_morton">Aaron Morton</a></li>
		<li><a href="#hamish_friedlander">Hamish Friedlander</a></li>
		<li><a href="#alla_boglaeva">Alla Boglaeva</a></li>
		<li><a href="#ryan_seddon">Ryan Seddon</a></li>
		<li><a href="#vim_jobanputra">Vim Jobanputra</a></li>
		<li><a href="#kyle_barrow">Kyle Barrow</a></li>
	</ul>
</div>

<div class="page center" id="speakers">
	<h2 class="section_title">
	   <%= image_tag "wdcnz_section_icon.png", :title => "WDCNZ" %>
	   Speakers
	</h2>
	<div class="speaker" id="douglas_crockford">
		<div class="speaker_image">
			<%=image_tag "bio_pics/douglas_crockford.png", :title=>"Douglas Crockford" %>
		</div>
		<div class="bio">
			<h3>Douglas Crockford</h3>
			<div class="social">
				<a href="http://www.crockford.com">crockford.com</a>
			</div>
			<p>Douglas Crockford was born in the wilds of Minnesota, but left when he was only six months old because it was just too damn cold. 
				He turned his back on a promising career in television when he discovered computers. He has worked in learning systems, small 
				business systems, office automation, games, interactive music, multimedia, location-based entertainment, social systems, and 
				programming languages. He is the inventor of Tilton, the ugliest programming language that was not specifically designed to be an 
				ugly programming language. He is best known for having discovered that there are good parts in JavaScript. This was an important 
				and unexpected discovery. He also discovered the JSON Data Interchange Format, the world's best loved data format. 
				And he works at Yahoo!</p>
		</div>
	</div>
	<div class="speaker" id="divya_manian">
		<div class="speaker_image">
			<%=image_tag "bio_pics/divya_manian.png", :title=>"Divya Manian, Speaker Photo:© Mohini Patel Glanz" %>
		</div>
		<div class="bio">
			<h3>Divya Manian</h3>
			<div class="social">
				<a href="http://twitter.com/divya">@divya</a>
			</div>
			<p>Divya Manian is part of the Adobe Web Platform Team in San Francisco. She made the jump from developing device drivers for Motorola 
				phones to designing websites and has not looked back since. She takes her duties as an Open Web vigilante seriously which has resulted 
				in collaborative projects such as HTML5 Please and HTML5 Boilerplate.</p>
		</div>
	</div>
	<div class="speaker" id="lea_verou">
		<div class="speaker_image">
			<%=image_tag "bio_pics/lea_verou.png", :title=>"Lea Verou" %>
		</div>
		<div class="bio">
			<h3>Lea Verou</h3>
			<div class="social">
				<a href="http://twitter.com/#!/leaverou">@leaverou</a>
			</div>
			<p>Lea has a long-standing passion for open web standards, and has been often called a “CSS guru”. She loves researching new ways to take advantage of modern 
				web technologies and shares her findings through her blog, <a href="http://lea.verou.me">lea.verou.me</a>. Lea also makes 
				popular&nbsp;<a href="http://lea.verou.me/css3-tools/" target="_blank">tools</a> and <a href="http://lea.verou.me/libraries/" target="_blank">libraries</a> that help 
				web developers learn and use these standards. She <a href="http://lea.verou.me/speaking">speaks</a> at a number of well-known international 
				web development conferences and <a href="http://lea.verou.me/publications" target="_blank">writes</a> for leading industry publications. Lea also 
				co-organized and occasionally lectures the web development course at the Athens University of Economics and Business.</p>
		</div>
	</div>
	<div class="speaker" id="malcolm_sheridan">
		<div class="speaker_image">
			<%=image_tag "bio_pics/malcolm_sheridan.png", :title=>"Malcolm Sheridan" %>
		</div>
		<div class="bio">
			<h3>Malcolm Sheridan</h3>
			<div class="social">
				<a href="http://twitter.com/#!/malcolmsheridan">@malcolmsheridan</a>
			</div>
			<p>Malcolm Sheridan is a Microsoft awarded MVP in ASP.NET, ASP Insider, Telerik Insider and a regular presenter at conferences and user groups 
				throughout Australia and New Zealand.</p>
		</div>
	</div>
	<div class="speaker" id="vaughan_rowsell">
		<div class="speaker_image">
			<%=image_tag "bio_pics/vaughan_rowsell.png", :title=>"Vaughan Rowsell" %>
		</div>
		<div class="bio">
			<h3>Vaughan Rowsell</h3>
			<div class="social">
				<a href="http://twitter.com/#!/rowsell">@rowsell</a>
			</div>
			<p>Founder and CEO of Vend, NZ Innovator of the year 2011. 
				Taking on the retail point-of-sale world with the a sexy HTML5 powered app, and making POS mean point-of-sale again. Often found in Auckland, 
				San Francisco and on planes.</p>
		</div>
	</div>
	<div class="speaker">
		<div class="speaker_image" id="aaron_morton">
			<%=image_tag "bio_pics/aaron_morton.png", :title=>"Aaron Morton" %>
		</div>
		<div class="bio">
			<h3>Aaron Morton</h3>
			<div class="social">
				<a href="http://twitter.com/#!/aaronmorton">@aaronmorton</a>
			</div>
			<p>Aaron Morton is a freelance developer and a committer on the Apache Cassandra project. In 2010 he gave up the RDBMS world for the scale and 
				reliability of Cassandra. He now spends his time advancing the Cassandra project and helping others get the best out of it.</p>
		</div>
	</div>
	<div class="speaker">
		<div class="speaker_image" id="hamish_friedlander">
			<%=image_tag "bio_pics/hamish_friedlander.png", :title=>"Hamish Friedlander" %>
		</div>
		<div class="bio">
			<h3>Hamish Friedlander</h3>
			<div class="social">
				<a href="http://twitter.com/#!/hafriedlander">@hafriedlander</a>
			</div>
			<p>Programming since childhood, Hamish has dedicated his life to technology. As CTO he ensures SilverStripe remains applicable to the evolving way humans use the internet, 
				technologically advanced without becoming technical and future-focused without losing sight of the present.</p>
		</div>
	</div>
	<div class="speaker">
		<div class="speaker_image" id="alla_boglaeva">
			<%=image_tag "bio_pics/alla_boglaeva.png", :title=>"Alla Boglaeva" %>
		</div>
		<div class="bio">
			<h3>Alla Boglaeva</h3>
			<div class="social">
				<a href="http://twitter.com/allaboglaeva">@allaboglaeva</a>
			</div>
			<p>When she’s not searching for deep powder on the slopes of Whistler, Alla works as a Technical Wizard at Provoke – Microsoft New Zealand Partner of the Year 
				2011. From cutting bespoke .NET apps through to leading technical teams at Provoke on some of New Zealand’s highest profile SharePoint deployments. 
				More recently Alla has delivered a new intranet for the NZ Police and a new intranet/public web platform for NZ customs.</p>
		</div>
	</div>
	<div class="speaker">
		<div class="speaker_image" id="ryan_seddon">
			<%=image_tag "bio_pics/ryan_seddon.png", :title=>"Ryan Seddon" %>
		</div>
		<div class="bio">
			<h3>Ryan Seddon</h3>
			<div class="social">
				<a href="http://twitter.com/ryanseddon">@ryanseddon</a>
			</div>
			<p>Ryan Sed­don is a Senior Front-end Developer from Mel­bourne Aus­tralia who has an unnat­ural obses­sion with JavaS­cript and the many places it runs. He also loves to tinker with any new web tech­no­logy he can get his hands on and loves diving into specs and code to fig­ure out more.
In his spare time he’s either play­ing bas­ket­ball, writ­ing for his blog <a href="http://thecssninja.com">thecssninja.com</a> or com­mit­ting code to github.</p>
		</div>
	</div>
	<div class="speaker">
		<div class="speaker_image" id="vim_jobanputra">
			<%=image_tag "bio_pics/vimal_jobanputra.png", :title=>"Vim Jobanputra" %>
		</div>
		<div class="bio">
			<h3>Vim Jobanputra</h3>
			<div class="social">
				<a href="http://twitter.com/vim">@vim</a>
			</div>
			<p>Vim is co-founder of design & development studio <a href="http://bitbybit.io">bitbybit</a>, and the soon-to-be-launched learning platform <a href="http://mystoryjar.com">Story Jar</a>. <br/>
He's a web developer who is partial to a bit of JavaScript (as long as no-one gets hurt), and runs <a href="http://www.meetup.com/WellingtonJS">
wellington.js.</a></p>
		</div>
	</div>
	<div class="speaker">
		<div class="speaker_image" id="kyle_barrow">
			<%=image_tag "bio_pics/kyle_barrow.png", :title=>"Kyle Barrow" %>
		</div>
		<div class="bio">
			<h3>Kyle Barrow</h3>
			<div class="social">
				<a href="http://twitter.com/kylebarrow">@kylebarrow</a>
			</div>
			<p>Kyle works on exciting mobile things at Xero. Previously based in Japan, he first seriously dabbled in mobile web development back in 2000, got addicted to all things mobile and have been involved in the mobile web in some form or other ever since.</p>
		</div>
	</div>
</div>

<div class="page" id="programme">
	<div class="center">
		<div class="inner">
			<h2 class="section_title">
			   <%= image_tag "wdcnz_section_icon_black.png", :title => "WDCNZ" %>
			   Programme
			</h2>
			<table class="programme">
				<tr>
					<td class="time">
						8am
					</td>
					<td class="details">
						Registration
					</td>
				</tr>
				<tr>
					<td class="time">
						9am
					</td>
					<td class="details">
						Open
					</td>
				</tr>
				<tr>
					<td class="time">
						9.05am
					</td>
					<td class="details">
						<div class="talk">
							Divya Manian
						</div>
						<div class="tag">
							Modern Web Design
						</div>
					</td>
				</tr>
				<tr>
					<td class="time">
						9.50am
					</td>
					<td class="details">
						<div class="talk">
							Malcolm Sheridan
						</div>
						<div class="tag">
							LESS CoffeeScript in ASP.NET?
						</div>
					</td>
				</tr>
				<tr>
					<td class="time">
						10.40am
					</td>
					<td class="details">
						Break
					</td>
				</tr>
				<tr>
					<td class="time">
						11.10am
					</td>
					<td class="details">
						<div class="talk">
							Aaron Morton
						</div>
						<div class="tag">
							Hello @World #Cassandra-<br/>
							Apache Cassandra in action
						</div>
					</td>
				</tr>
				<tr>
					<td class="time">
						midday
					</td>
					<td class="details">
						<div class="talk">
							Lea Verou
						</div>
						<div class="tag">
							CSS in the 4th Dimension:<br/>
							Not your daddy's CSS animations
						</div>
					</td>
				</tr>
				<tr>
					<td class="time">
						12.50pm
					</td>
					<td class="details">
						Lunch
					</td>
				</tr>
				<tr>
					<td class="time">
						1.50pm
					</td>
					<td class="details">
						<div class="talk">
							The JavaScript Panel
						</div>
						<div class="tag">
							With Douglas Crockford, Ryan Seddon,<br/>
							Vim Jobanputra and Kyle Barrow
						</div>
					</td>
				</tr>
				<tr>
					<td class="time">
						2.30pm
					</td>
					<td class="details">
						<div class="talk">
							Hamish Friedlander
						</div>
						<div class="tag">
							Developing Rich HTML Applications<br/>
							with entwine, backbone.js and Silverstripe CMS
						</div>
					</td>
				</tr>
				<tr>
					<td class="time">
						3.10pm
					</td>
					<td class="details">
						<div class="talk">
							Alla Boglaeva
						</div>
						<div class="tag">
							How to be a good developer
						</div>
					</td>
				</tr>
				<tr>
					<td class="time">
						3.50pm
					</td>
					<td class="details">
						Break
					</td>
				</tr>
				<tr>
					<td class="time">
						4.20pm
					</td>
					<td class="details">
						<div class="talk">
							Vaughan Rowsell
						</div>
						<div class="tag">
							Awesome data-driven offline HTML5 apps<br/>
							in a native world
						</div>
					</td>
				</tr>
				<tr>
					<td class="time">
						5:10pm
					</td>
					<td class="details">
						<div class="talk">
							Douglas Crockford
						</div>
						<div class="tag">
							Programming style and your brain
						</div>
					</td>
				</tr>
				<tr>
					<td class="time">
						6pm
					</td>
					<td class="details">
						Closing
					</td>
				</tr>
				<tr>
					<td class="time">
						5mins later
					</td>
					<td class="details">
						Bar Opens
					</td>
				</tr>
				<tr>
					<td class="time">
						6.30 till late
					</td>
					<td class="details bold">
						The Xero After Party
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="page center" id="venue">
	<h2 class="section_title">
		<%= image_tag "wdcnz_section_icon.png", :title => "WDCNZ" %>
		Venue
	</h2>
	<h3>WHERE IT'S AT</h3>
	<h4>Mac’s Brewhouse Function Rooms</h4>
	<p>On the corner of Taranaki & Cable Streets, Wellington. <br />
		It’s close to the all the good stuff: food, coffee, bars and Te Papa Museum.
	</p>
	
	<h3>GROUP DISCOUNT</h3>
	<p>If you’ve got a group of 5 or more get in contact with <a href="mailto:groups@wdcnz.com">groups@wdcnz.com</a>. <br />
		We’ll hook you up. </p>

	<h3>Eats And Drinks</h3>
	<p>We will keep you well stocked throughout the day, and into the night.<br />
		If you have any dietary requirements, (we look after you too), just let us<br />
		know when you are buying tickets.</p>

	<h3>Xero After Party</h3>
	<p>After the conference kick back at the Xero After Party. Food, drinks and <br />
		good times will be provided, so it’s worth sticking around. It’s also a great <br />
		chance to chat with speakers and other conference goers.</p>

	<h3>Places To Stay</h3>
	<p>If you're in need of a room, we've arranged a few special deals at hotels <br/>
		close to the conference.</p>

	<div class="hotel">
		<h4>The Museum Hotel</h4>
		<ul>
			<li>90 Cable Street, Wellington</li>
			<li>2 mins away <br /></li>
			<li class="noDivider"><a href="mailto:groupbookings@museumhotel.co.nz">groupbookings@museumhotel.co.nz</a></li>
			<li>+64 4 802 8900</li>
			<li>Booking no: 63015 <br /></li>
			<li class="noDivider">Rates starting from $225 inc GST, breakfast &amp; internet</li>
		</ul>
	</div>
	<div class="hotel">
		<h4>West Plaza Hotel</h4>
		<ul>
			<li>Wakefield Street, Wellington</li>
			<li>5 mins away <br /></li>
			<li class="noDivider"><a href="mailto:reservations@westplaza.co.nz">reservations@westplaza.co.nz</a></li>
			<li>0800 731 444</li>
			<li>Booking no: 317592 <br /></li>
			<li class="noDivider">Rooms available from $140 inc GST & breakfast</li>
		</ul>
	</div>
	<div class="hotel">
		<h4>YHA</h4>
		<ul>
			<li>292 Wakefield Street, Wellington</li>
			<li>4 mins away <br /></li>
			<li class="noDivider"><a href="mailto:Lisa.Gebbels@yha.co.nz">Lisa.Gebbels@yha.co.nz</a></li>
			<li>+64 4 801 7280 <br /></li>
			<li class="noDivider">Rates available from $31 per person</li>
		</ul>
	</div>

	<p>So...<br />
		<a href="https://wdcnz-2012.lilregie.com">Get a ticket</a> and spread word via <a href="http://twitter.com/wdcnz">twitter</a>, <a href="http://facebook.com/wdcnz">facebook</a> or 
		whatever works.</p>
		
	<h4>See you there!</h4>
</div>

<div class="page" id="sponsors">
	<div class="center">
		<div class="inner">
			<h2 class="section_title">
			   <%= image_tag "wdcnz_section_icon_black.png", :title => "WDCNZ" %>
			   Sponsors
			</h2>
			<div class="heros large first">
				<div class="logo">
					<a href="http://www.xero.com/careers/?utm_source=wdcnz.com&utm_medium=Web&utm_campaign=Event_Misc">
						<%= image_tag "sponsors/xero.png", :title => "xero" %>
					</a>
				</div>
				<div class="blurb">
					<p>There’s nothing quite like geeking out in a room full of like-minded people while hearing from some of the best talent in the industry. WDCNZ supports the growth and collaboration 
						of NZ’s tech community. We're pretty stoked to be a part of it.</p>
					<p>On that note, we’re always on the lookout for talented individuals. If you see someone wearing our t-shirt, introduce yourself. Otherwise get in 
						touch: <a href="http://www.xero.com/careers/?utm_source=wdcnz.com&utm_medium=Web&utm_campaign=Event_Misc">xero.com/careers</a></p>
				</div>
			</div>
			<div class="heros">
				<div class="logo">
					<a href="http://silverstripe.com">
						<%= image_tag "sponsors/silverstripe.png", :title => "SilverStripe" %>
					</a>
				</div>
				<div class="blurb">
					<p>SilverStripe CMS is an open source web content management system used by government organisations, businesses and non-profit organisations around the world. 
						The CMS is an easy to customise power tool for professional web developers and easy to use for web content authors.</p>
				</div>
			</div>
			<div class="heros">
				<div class="logo">
					<a href="http://iwantmyname.com">
					 <%= image_tag "sponsors/iwantmyname.png", :title => "iwantmyname" %>
					</a>
				</div>
				<div class="blurb">
					<p>iwantmyname is a global domain name management service based in Wellington. With an amazingly simple site, they make searching, purchasing 
						and setting up your web address a breeze. The service lets you choose from 100+ international top-level domains and also offers 1-click DNS setup 
						for the most popular web apps.</p>
				</div>
			</div>
			<div class="heros last">
				<div class="logo">
					<a href="http://trademe.co.nz">
					 <%= image_tag "sponsors/trademe.png", :title => "TradeMe" %>
					</a>
				</div>
				<div class="blurb">
					<p>Huge thanks to TradeMe for providing free WiFi again this year.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="page center" id="contact">
	<div class="inner">
		<h2 class="section_title">
		   <%= image_tag "wdcnz_section_icon.png", :title => "WDCNZ" %>
		   Contact
		</h2>
		<p>WDCNZ (Web Dev Conversations NZ) is brought to you by Owen Evans, Charlotte Hinton, Dave Keyes and many others.</p>
		<p>If you have any questions get in contact at <a href="mailto:team@wdcnz.com">team@wdcnz.com</a></p>
	</div>
</div>

