%h1
  Speakers
-@speakers.sort{|x,y|x[:name]<=>y[:name]}.each do |speaker|
  .details-box
    %a{:name=>"#{speaker[:name]}"}
    .image
      =image_tag("/images/bios/#{speaker[:image]}.png",{:alt=>"#{speaker[:name]}",:class=>"profile_pic"})
    .text
      .title
        ="#{speaker[:name]}"
      .link
        %a{:href => "http://twitter.com/#{speaker[:twitter]}"}
          ="@#{speaker[:twitter]}"
      .blurb
        =simple_format("#{speaker[:bio]}")
.clearfix