%h1
  Speakers
.speakers
  -@speakers.sort{|x,y|x[:name].split.last<=>y[:name].split.last}.each do |speaker|
    .details-box
      %a{:name=>"#{speaker[:name]}"}
      .image
        =image_tag("/images/bios/#{speaker[:image]}.png",{:alt=>"#{speaker[:name]}",:class=>"profile_pic"})
      .text
        .title
          ="#{speaker[:name]}"
        .link
          %a.twitter{:href => "http://twitter.com/#{speaker[:twitter]}"}
            ="@#{speaker[:twitter]}"
        .blurb
          =simple_format("#{speaker[:bio]}")
      .clearfix{:style=>"clear:both"}
  .clearfix